<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>TestBundle</string>
	<key>CFBundleDisplayName</key>
	<string>Test Bundle</string>
	<key>CFBundleIdentifier</key>
	<string>org.swift.docc.example</string>
	<key>CFBundleIconFile</key>
	<string>DocumentationIcon</string>
	<key>CFBundleIconName</key>
	<string>DocumentationIcon</string>
	<key>CFBundlePackageType</key>
	<string>DOCS</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CDDefaultCodeListingLanguage</key>
	<string>swift</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CDAppleDefaultAvailability</key>
	<dict>
		<key>FillIntroduced</key>
		<array>
			<dict>
				<key>name</key>
				<string>macOS</string>
				<key>version</key>
				<string>10.9</string>
			</dict>
			<dict>
				<key>name</key>
				<string>iOS</string>
				<key>version</key>
				<string>11.1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tvOS</string>
				<key>version</key>
				<string>12.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>watchOS</string>
				<key>version</key>
				<string>13.3</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
