# This source file is part of the Swift.org open source project
#
# Copyright (c) 2021 Apple Inc. and the Swift project authors
# Licensed under Apache License v2.0 with Runtime Library Exception
#
# See https://swift.org/LICENSE.txt for license information
# See https://swift.org/CONTRIBUTORS.txt for Swift project authors

.DS_Store
.build
/Packages
*.pbxuser
*.mode1v3
xcuserdata
User Interface State
_Store
*.xcscmblueprint
*.db-shm
*.db-wal
DerivedData
/*.xcodeproj
docc-dist-build
.docc-build
.swiftpm
.vscode

# The bin/benchmark tool is its own local Package that depend on 
# Swift-DocC using a relative local file path ("../..")
# It should always use the resolved dependencies for the local 
# Swift-DocC  so we don't track its resolved package file.
bin/benchmark/Package.resolved
