<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>DictionaryData</string>
	<key>CFBundleDisplayName</key>
	<string>DictionaryData</string>
	<key>CFBundleIdentifier</key>
	<string>org.swift.docc.DictionaryData</string>
	<key>CDAppleDefaultAvailability</key>
	<dict>
		<key>Example</key>
		<array>
			<dict>
				<key>name</key>
				<string>test</string>
				<key>version</key>
				<string>1.0</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
